@model BookWorm.Models.Upload


@*This is the Upload File Partial View*@

@using (Html.BeginForm("UploadsPartialView", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class=" form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="Imagefile" required /><br />
        </div>
    </div>
    @*<div class="form-group">
        <label for="file">Upload Document:</label>
        <input type="file" name="file" id="file" /><br />
        <input type="submit" value="Upload Document" />
        <div class="col-md-10">
        </div>
    </div>*@
</div>
}
