
@{
    ViewBag.Title = "Upload";
}
<div class="row">
    <div class=" col-md-12">
        <h2>Upload Document</h2>
    </div>
</div>

<div id="UploadNewFile">
    @Html.Action("Create", new { id = ViewBag.id})
</div>


<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            <div>
                @Html.ActionLink("Home", "AfterLogin", "Home")
            </div>
        </div>
        
    </div>
</div>

