@model IEnumerable<BookWorm.Models.Documents>

@{
    ViewBag.Title = "Home Page";
}

<ul class="documents">
    @foreach (var document in Model)
    {
        <li>
            <span class="Documentdetails">
                @document.Name
            </span>
            <span class=" Documentexcerpt">
                @document.Excerpt
            </span>
            <br />

            <span class="btn-link right">
                @Html.ActionLink("Tweak", "Edit", "Document", new { Id = document.DocumentsID }, null)
                &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span class="btn-link right">
                @Html.ActionLink("Discard", "Delete", "Document", new { Id = document.DocumentsID }, null)
                &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </li>
    }
</ul>

@section scripts
{
    @*<script>
            $('#documentUploaderButton').change(function () {
                if ($(this).val() !== ".jpg" || $(this).val() !== ".png") {  // if its not equals to png or jpg
                    $('#imageUploaderButton').attr('disabled', '');
                } else {
                    $('#imageUploaderButton').attr('disabled', 'disabled');
                }
            });

        </script>*@
}

@*<script type="text/javascript">
    $('#doc').change(function () {
        if ($(this).val().contains(".jpg") || $(this).val().contains(".png")) {
            $('#imgButton').attr('disabled', '');
        } else {
            $('#imageUploaderButton').attr('disabled', 'disabled');
        }
    });
</script>*@
