@model IEnumerable<BookWorm.Models.Documents>

@{
    ViewBag.Title = "Home Page";
}

<ul class="projects">
    @foreach (var document in Model)
    {
        <li>
            <span class="Documentdetails">
                @document.Name
                
                @document.Excerpt
                </span>

                <div class="btn-link right">
                    @Html.ActionLink("Tweak", "EditDocumentPartial", "Document", new { Id = document.DocumentsID}, null)
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="btn-link right">
                    @Html.ActionLink("Discard", "Delete", "Document", new { Id = document.DocumentsID }, null)
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
                //$(document).ready(function () {
                //    $(".js-toggle-documents").click(function (e) {
                //        var button = $(e.target);
                //        $.post("/api/documents", { "DocumentsID": button.attr("data-documents-id") })
                //            .done(function () {
                //                button
                //                    .removeClass("btn-default")
                //                    .addClass("btn-info")
                //                    .text("Added!");
                //            })
                //            .fail(function () {
                //                alert("Something Went Wrong!")
                //            })
                //    });
                //});

    </script>
}

