@model IEnumerable<BookWorm.ViewModels.CategoryViewModel>

<ul class=" categories">
    @foreach (var category in Model)
    {
        <li>
            <span class="CategoryDetails">
                @category.Category
            </span>
        </li>

    }
</ul>




