@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">

        <h1>
            BookWorm
        </h1>
        <p class="lead">Spend less. Read more.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Book Worm we are passionate about the written word and seek to share our love of reading to help create 
                and sustain a community of lifelong readers.
                We strive to provide a hospitable and nurturing environment to encourage the healthy exchange of ideas by hosting numerous readings, 
                book groups, panel presentations, and on-line discussions.
            </p>
            
        </div>
        <div class="col-md-4">
            <h2>Deciding what to read next?</h2>
            <p>
                You’re in the right place.<br />
                Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Join the BookWorm community</h2>
            <p>
                Enjoy a wide variety of best-selling books.
            </p>
            <p>
                <a class="btn btn-default" @Html.ActionLink("Register","Register","Account")> &raquo;</a>
            </p>
        </div>
    </div>
</div>