@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  
    <h1>
        BookWorm
    </h1>
    <p class="lead">Spend less. Read more.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Deciding what to read next?</h2>
        <p>
            You’re in the right place.<br /> 
            Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Join the BookWorm community</h2>
        <p>
            Enjoy a wide variety of best-selling books, videos and quotes.
        </p>
        <p>
            <a class="btn btn-default" href="~/Controllers/AccountController.cs">Register &raquo;</a>
        </p>
    </div>
</div>