


<form id="frmsearch" action="~/Document/Search" method="get">
    <input id="q" name="q" placeholder="Title/Author" style="width:275px;" />
    <input id="submit" name="submit" type="submit" style="font-weight:bold;" value="Search" />
</form>
